//color pallete
$color1: #35155D;
$color2: #512B81;
$color3: #4477CE;
$color4: #8CABFF;
$color5: #fff;

//base variables
$base-radius: 4px;
$base-transition: all 0.3s ease;
$base-padding: 20px;


//test variables
$border: 2px solid